.btn-group{
    margin-left: 5px !important;
}

.linhaEdit{
    cursor: pointer;
    font-size: 12px !important;
}
 
.btn{
    padding: 2px 10px; 
}

.form-control { 
    height: 35px;
    font-size: 12px;
}

.card label {
     margin-bottom: 1px !important;
}

.category{
    font-size: 10px !important;
}

.select{
    font-size: 12px;
}

.novoLink{
    font-size: 10px !important;
}

.novaPessoa{
    cursor: pointer;
    color: #1dc7ea;
    font-size: 10px;
}

.content-display-color {
    float: left;
    width: 15px!important;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 0;
}

.modalText {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1px!important;
    font-weight: 400;
    color: #9a9a9a;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.modalTextBalck{
    color: #000000;
}

.ModalTitle{
    font-weight: 300;
    font-size: 15px;
}

.modalValor{
    margin-top: 7px;
}

.modalNovo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalNovo_label{
    padding-right: 10px;
    font-size: 10px;
}

.modalNovo_input{
    height: 25px !important;
}

.setaBaixo{
    transform: rotate(0deg);
}

.setaCima{
    transform: rotate(180deg);
}

.collapse{
    margin-left: 10px !important;
}

.collapsing{
    margin-left: 10px !important;
}

.btn-caixa{
    padding: 2px 5px !important;
    font-size: 12px !important;
}
