<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content all-icons">
            <div class="btn-group">
              <div class="btn-group">
                <button type="button" class="btn btn-fill" (click)="popularGrid('cr')" [ngClass]="classCR">Contas a Receber</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-fill" (click)="popularGrid('cp')" [ngClass]="classCP">Contas a Pagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="tableFinanceiro.tipo != ''">
    <div class="row">
      
      <div [ngClass]="classEditar">
        <div class="card">
          <div class="header">
            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="novoItem()">Novo</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let cell of tableFinanceiro.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableFinanceiro.dataRows" class="linhaEdit" (click)="editar(row)">
                  <td *ngFor="let cell of row">{{ cell }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4" [hidden]="!editandoNovaPessoa">
        <div class="card">
          <div class="header">
            <h4 class="title">Nova Pessoa</h4>
          </div>
          <div class="content">
            <form #formNovaPessoa="ngForm" (submit)="salvarPessoa()">
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Pessoa * </label>
                      <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="pessoaDesc" required id="nomePessoa" name="nomePessoa" required/>
                    </div>
                  </div>
              </div>
              <p class="category">* Campos Obrigatórios</p>
              <div class="pull-right">
                <div class="btn-group">
                  <button type="submit" class="btn btn-info btn-fill" [disabled]="!formNovaPessoa.form.valid">Salvar</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-info btn-fill" (click)="cancelarPessoa()">Cancelar</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4" [hidden]="!editando">
        <div class="card">
          <div class="header">
            <div [hidden]="!Incluir">
              <h4 class="title">Novo</h4>
            </div>
            <div [hidden]="Incluir">
              <h4 class="title">Detalhes</h4>
            </div>
          </div>
          <div class="content">
            <form #formContas="ngForm" (submit)="salvarItem()">
              <div class="row">
                <div class="col-md-5" hidden>
                  <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" placeholder="ID" [(ngModel)]="contas.id"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div [hidden]="!Incluir">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Pessoa * </label>
                        <select class="form-control select" [(ngModel)]="contas.pessoaid" required>
                          <option [ngValue]="null" disabled>Selecione...</option>
                          <option *ngFor="let pessoa of pessoas" [ngValue]="pessoa.id">{{ pessoa.nome }}</option>
                        </select>
                        <span class="novaPessoa" id="btnAddPessoa" (click)="novaPessoa()">Nova Pessoa</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Valor *</label>
                      <input type="text" class="form-control" placeholder="R$" [(ngModel)]="contas.valor" required id="valor" name="valor" required/>
                    </div>
                  </div>
                </div>
                <div [hidden]="Incluir">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Pessoa</label>
                      <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="contas.pessoa.nome" id="pessoa" name="pessoa" readonly/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Valor</label>
                      <input type="text" class="form-control" placeholder="R$" [(ngModel)]="contas.valor" required id="valor" name="valor" readonly/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="typo-line" [hidden]="!Incluir">
                <p class="category">* Campos Obrigatórios</p>
              </div>
              <div class="pull-right">
                <div [hidden]="Incluir">
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-fill" (click)="cancelarEdicao()">Cancelar</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-fill" (click)="excluir()">Excluir</button>
                  </div>
                </div>
                <div [hidden]="!Incluir">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-info btn-fill" [disabled]="!formContas.form.valid">Incluir</button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-fill" (click)="cancelarEdicao()">Cancelar</button>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      

    </div>
  </div>
</div>